body{
    background-image: url(kepek/tengerpart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    background-color:whitesmoke;
}
.container-fluid, nav{
    background-color:bisque;
}
a{
    text-decoration: none;
    color:blueviolet;
}
.mail{
    color:crimson;
}
.kepek{
    box-shadow: 5px 5px 7px #1D1D4E;
    border: 1px solid #1D1D4E;
    margin-bottom: 10px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#szoveg{
    color: burlywood;
    margin-bottom: 50px;
}
.kartya{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
